@import "bootstrap/scss/bootstrap";
#todos {
	background-color: #555;
	padding: 2rem;
}
.list-group-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	padding: 10px;
  }
  
  .todo-item-container {
	flex: 1;
	display: flex;
	align-items: center;
  }
  
  .circle {
	
	width: 15px;
	height: 15px;
	border-radius: 25%;
	background-color: transparent;
	margin-right: 5px;
  }
  .no-task-message{
text-align: center;
  }
  .circle.important {
	background-color: red;
	color: white;
	content: "!";
	text-align: center;
	line-height: 2px;
  }
  
  .button-container {
	display: flex;
	align-items: center;
	gap: 5px;
  }

  .priority {
	font-weight: bold; /* Gör texten fet */
	margin-left: 10px; /* Lägg till marginal till vänster för att separera från uppgiftens titel */
  }
  .priority.low {
	color: green;
	background-color: aliceblue;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	border: 1px solid black; /* Lägg till en svart kant runt symbolen */
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  /* Stil för medium prioritet (orange) */
  .priority.medium {
	color: orange;
	background-color: aliceblue;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	border: 1px solid black; /* Lägg till en svart kant runt symbolen */
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  /* Stil för hög prioritet (röd) */
  .priority.high {
	color: red;
	background-color: aliceblue;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	border: 1px solid black; /* Lägg till en svart kant runt symbolen */
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
  }
.clickable-title {
	cursor: pointer;
	font-weight: 500;
}
  .list-group-item.completed .todo-title	 {
	text-decoration: line-through;
	color: #999; /* Du kan justera textfärgen för avslutade uppgifter här */
  }
  .tag {
	display: inline-block;
	padding: 4px 8px;
	margin-right: 4px;
	background-color: #007BFF; /* Bakgrundsfärg för taggarna (anpassa efter dina önskemål) */
	color: white; /* Textfärg för taggarna */
	border-radius: 4px; /* Rundade hörn för taggarna */
	font-size: 12px; 
	margin-left: 10px;
  }
  @media (max-width: 768px) {
	#todos {
	  padding: 1rem; /* Minska padding för mindre skärmar */
	}
	.list-group-item {
	  flex-direction: column; /* Byt till staplad layout för mindre skärmar */
	  align-items: flex-start; /* Justera element till vänster */
	  padding: 10px;
	}
	.button-container {
	  flex-direction: row; /* Behåll horisontell layout för knappar */
	  margin-top: 10px; /* Lägg till lite mellanrum mellan knappar */
	}
	.priority {
	  margin-left: 0; /* Ta bort margin för prioritetstexten */
	}
	.circle {
	  margin: 5px; /* Ta bort margin för cirkeln */
	}
	.button-container button {
		font-size: 12px; /* Justera textstorlek för knappar */
		padding: 5px 10px; /* Justera padding för knappar */
	  }
	  .todo-title{
		margin-right: 5px;
	  }
	}
	.task-popup {
		position: fixed;
		top: -100px;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7); /* En halvgenomskinlig bakgrundsfärg */
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 999; /* Sätt z-index så att popupen ligger över resten av sidan */
		transition: opacity 0.3s ease-in-out;
		
		
	  }
	  
	  /* Styla popup-innehåll */
	  .task-popup-content {
		background-color: #fff;
		padding: 20px;
		width: 400px;
		border-radius: 5px;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* En enkel skugga för popupen */
		text-align: center;
		
	  }
	  
	  /* Styla rubrik i popup */
	  #popup-title {
		font-size: 24px;
		margin-bottom: 10px;
		color: black;
	  }
	  
	  /* Styla beskrivning i popup */
	  #popup-description {
		font-size: 16px;
		margin-bottom: 20px;
		color: black;
	  }
	  
	  /* Styla stängknapp i popup */
	  #close-popup-button {
		background-color: #333;
		color: #fff;
		border: none;
		padding: 10px 20px;
		font-size: 16px;
		border-radius: 5px;
		cursor: pointer;
		transition: background-color 0.3s ease-in-out; /* Animering för knappen */
	  }
	  
	  /* Ändra bakgrundsfärgen på knappen när du hover över den */
	  #close-popup-button:hover {
		background-color: #555;
	  }
	  
	  /* Dölj popupen som standard */
	  .task-popup.hidden {
		opacity: 0;
		pointer-events: none;
	  }