@import "bootstrap/scss/bootstrap";

  .list-group-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	padding: 10px;
  }
  
  .todo-item-container {
	flex: 1;
	display: flex;
	align-items: center;
  }
  
  .circle {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: transparent;
	margin-right: 5px;
  }
  
  .circle.important {
	background-color: red;
	color: white;
	text-align: center;
	line-height: 10px;
  }
  
  .button-container {
	display: flex;
	align-items: center;
	gap: 5px;
  }